$main-color:#f5f5dc;
$main-font:#191970;

body {
  background-repeat: no-repeat;
  background-position: center;
  background-color:$main-color;
  
}

.navbar-laravel
{
    background-color:#fa8072;
    color: black;
}